<html>

<head>
    <title>PriCoSha</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<style>
 table, th, td{border: 1px solid black; background-color: rgba(128,128,128,0.4) }</style>
<body>
    <div class="centerh1">
        <h1 style="color:black">Your Feed!</h1>
        <table style="border-radius: 20px;">
            <th style="text-align: center">Post ID</th>
            <th style="text-align: center">Username</th>
            <th style="text-align: center">Time</th>
            <th style="text-align: center">Content Name</th>
            <th style="text-align: center">File Path</th>
            <th style="text-align: center">Tagged</th>
            <th style="text-align: center">Comments</th>
            {% for line in posts %}
            <tr>
                <td>{{line.id}}</td>
                <td>{{line.username}}</td>
                <td>{{line.timest}}</td>
                <td>{{line.content_name}}</td>
                <td>{{line.file_path}}</td>
                <td>{% for tag in tags %} {% if line.id == tag.id %} {{tag.first_name + " " + tag.last_name}} {% endif %} {%endfor%}</td>
                <td>{% for comment in comments %} {% if line.id == comment.id%} {{comment.username}}: {{comment.comment_text}} {{comment.timest}} {% endif %} {%endfor%}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <br>
    <a href="/logout" class="btn btn-danger btn-sm" role="button">Logout</a>
    <a href="/profile" class="btn btn-danger btn-sm" role="button">Back to Profile</a>
    <script type="text/javascript" src="../static/css/jquery-3.2.1.min.js"></script>
    <script src="{{url_for('static', filename='css/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="../static/css/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='css/jquery-3.2.1.min.js')}}"></script>
</body>

</html>