<html>

<head>
    <title>PriCoSha</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <div class="centerh1">
        <h1 style="color: black">{{username}}'s parties !</h1>
        <hr class="colorgraph">
        <br>
        <form action="/createParty" method="POST">
            <br>
            <input style="color: black" type="text" class="form-control" name="partyName" placeholder="Party Name" required/>
            <input style="color: black" type="text" class="form-control" name="partyLocation" placeholder="Location" required/>
            <input style="color: black" type="text" class="form-control" name="partyDatetime" placeholder="MM/DD/YYYY, Time" required/>
            <input style="color: black" type="text" class="form-control" name="partyDescription" placeholder="Description" required/>
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="Create Party" />
            <br>
        </form>
        <style type="text/css">
        table,
        th,
        td {

            border: double;
            border-color: black;
        }
        </style>
        <br>
    </div>
    <br>
    <a href="/logout" class="btn btn-danger btn-sm" role="button">Logout</a>
    <a href="/profile" class="btn btn-danger btn-sm" role="button">Back to Profile</a>
    <script type="text/javascript" src="../static/css/jquery-3.2.1.min.js"></script>
    <script src="{{url_for('static', filename='css/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='css/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="../static/css/bootstrap.min.js"></script>
</body>

</html>